*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Open Sans', sans-serif;
/* height: 5000px; */
    /* display: flex;
    flex-direction: column; */
    /* width: max-content; */
}

:root {
    --main-color:blue;
    --secondary-color: lightblue;
}
/* start nav */
    nav{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap:250px;
background: linear-gradient( 300deg , blue , lightblue ) ;
padding: 10px 15px;
border-bottom: 2px solid #ffffffa4;
}


nav .frist-part-nav{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 70px;
padding: 10px 15px;
/* margin-right: 100px; */
}

i .right-nav-2{
    display: none;
    height: 0;
} 


nav .left-nav {
    display: flex;
    font-size: 35px;
    font-weight: 400;
}
nav .left-nav span{
    font-size: 35px;
    font-weight: 400;
}

nav .right-nav{
    display: flex;
    gap: 20px;
}
nav .right-nav li{
    list-style: none;
    display: flex;
    width: max-content;
    color: lightblue;
    font-size: 15px;
    padding:10px;
    transition: 0.5s;
}

nav .right-nav li:nth-last-of-type(4) span{
    position: relative;
}

nav .right-nav li span .down-page{
    background-color:rgb(135, 215, 240);
    padding: 20px;
    line-height: 25px;
    position: absolute;
    top: 20%;
    opacity: 0;
    overflow: hidden;
    color: blue;    
 transition:0.5s;   
}

nav .right-nav li span:hover .down-page{
    position: absolute;
    top: 10%;
    opacity: 1;
    overflow: visible;
    border-radius: 10px;
    padding: 20px;
}

nav .right-nav li span:hover .down-page::after{
    content:'';
    background-color:rgb(135, 215, 240);
    width: 20px;
    height: 20px;
    position: absolute;
    top: -8px;
    transform: rotate(45deg);
}


nav .right-nav li:hover{
color: blue;
}

 .secound-part-nav i:nth-of-type(2){
    display: block;
width: 40px;
height: 40px;
color:blue;
font-size: 25px;
/* cursor: pointer; */
background-color:#fff;
border-radius: 50%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
transition: 0.5s;
}
.secound-part-nav i:nth-of-type(1){
display: none;
}
.secound-part-nav i:nth-of-type(2):hover{
background-color: rgb(1, 1, 160);
color: lightblue;
}
/* end nav */

/* start section_1 */
.home-page{
    /* margin-bottom: 40px; */
    width: 100%;
    height:880px;
background-color:rgb(118, 118, 235);
border-radius: 0 0 100px 100px;
overflow: hidden;

}
.home-page .home-page-text{
    background: linear-gradient( 330deg , blue , lightblue ) ;
    width: 100%;
height: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.home-page .home-page-text h2{
font-size: 55px;
color: #fff;
}
.home-page .home-page-text p{
    font-size: 25px;
    color: rgba(8, 8, 122, 0.822);
}
.home-page .home-page-text .searsh-page{
position: relative;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;

}


.home-page .home-page-text .searsh-page input[type="searsh"]{
 padding:25px 30px;
 width: 600px;
 border: none;
 outline: none;
 border-radius: 100px 100px;
 font-size: 20px;
 color: blue;
}
.home-page .home-page-text .searsh-page input::placeholder{
    opacity: 0.7;
    /* padding: 20px; */
    font-size: 17px;
}

.home-page .home-page-text .searsh-page i{
position: absolute;
left: 10px;
}
.home-page .home-page-text .searsh-page button{
    position: absolute;
    left: 520px;
    padding: 20px 40px;
    border: none;
color: #fff;
    border-radius: 50px 50px ;
    background-color: rgb(146, 201, 219);
    font-size: 17px;
    transition: 0.5s;
}
.home-page .home-page-text .searsh-page button:hover{
    background-color: blue;
}
/* frist cards */
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
 .card-1{
    width: 350px;
    height: 400px;
    margin-top:-70px;
border-radius: 20px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.5;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
}
.cards .text-card-1{
    display: flex;
    justify-content: space-between;
}
.cards .text-card-1 h5{
color: blue;
font-size: 30px;
}
.card-1 img{
    width: 100%;
    height: auto;
}

.cards .text-card-1 span{
    background-color: #00B0FF;
color: #fff;
padding: 5px 5px; 
border-radius: 5px;
}
.cards .pragraph p{
    color: rgba(0, 0, 0, 0.815);
}

.cards .bottom-card img{
width: 100%;
height: auto;
}
 .card-1:hover{
    margin-bottom: 30px;
}
 .card-2{
    width: 500px;
    height: 410px;
    margin-top:-70px;
border-radius: 20px 20px;
padding: 20px ;
background: linear-gradient(to bottom , rgba(0, 0, 255, 0.808) , rgba(173, 216, 230, 0.801)) , url(raghad.css/businesswoman-using-tablet-analysis.jpg);
background-size: 100% 100%;
flex-direction: column;
display: flex;
gap: 120px;
transition: 0.5s;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
 .card-2 .text-part1{
    display: flex;
flex-direction: column;
gap: 20px;
}
 .card-2 .text-card-2{
    /* margin-left: 20px; */
    margin-top: 15px;
    display: flex;
    justify-content:space-between;

}
 .card-2 .text-card-2 h5{
    font-size: 30px;
    color: #fff;

}
 .card-2 .text-card-2 span{
    background-color: blue;
    padding: 5px 7px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
 .card-2 .text-part1 .pragraph-2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width:400px;
    line-height: 25px;
    color: #ffffffb7;
    font-size:22px;
} 
 .card-2 .text-part1 .pragraph-2 button{
    width: max-content;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    color: #fff;
    background-color: lightblue;
    font-weight: 200;
    transition: 0.5s;
}
 .card-2 .text-part1 .pragraph-2 button:hover{
background-color: blue;
}
 .card-2 .bottom-card-2{
    display: flex;
    justify-content: space-between;
}
 .card-2 .bottom-card-2 ,.icon-left{
    display: flex;
    gap: 10px;
    color: #fff;
}
 .card-2 .bottom-card-2 .icon-left span{
    font-size: 20px;
}
 .card-2 .bottom-card-2 .icon-left .icon i{
background-color: lightblue;
padding: 7px;
border-radius: 50%;
font-size: 15px;
transition: 0.5s;
}
 .card-2 .bottom-card-2 .icon-left .icon i:hover{
    background-color: blue;
}
 .card-2 .bottom-card-2 .icon-right  i{
    font-size:25px;
    transition: 0.5s;
}
 .card-2 .bottom-card-2 .icon-right i:hover{
    color: lightblue;
}
.cards .card-2:hover{
    margin-top: -20px;
}
/* end cards */
/* end section_1 */
/* start Browse Topics */
.Browse-Topics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
}
.Browse-Topics h2{
    font-size: 55px;
}
.list-menu{
    display: flex;
}
.list-menu ul{
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.list-menu ul li{
list-style: none;
display: flex;
padding: 20px;
border:none ;
border-bottom: 1px  solid rgba(0, 0, 0, 0);
transition: 0.5s;
}
.list-menu ul li:hover{
border-bottom: 1px solid blue;
color: lightblue;
}
.list-menu ul li:nth-of-type(1){
    border-bottom: 1px solid blue;
    color: lightblue;
}
/* cards-1 in list-menu */
.cards-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cards-2 .card-1{
    height: 400px;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.cards-2 .text-card-1{
    display: flex;
    justify-content: space-between;
}
.cards-2 .text-part1{
    display: flex;
    flex-direction: column;
gap: 10px;
}
.cards-2 .text-card-1 h5{
color: black;
font-size: 30px;
}

.cards-2 .text-card-1 span{
    background-color: #00B0FF;
color: #fff;
padding: 5px;
border-radius: 5px;
}
.cards-2 .pragraph p{
    color: rgba(0, 0, 0, 0.815);
}
.cards-2 .bottom-card{
    margin-top:30px;
}
.cards-2 .bottom-card img{
width: 100%;
height: auto;
}
.cards-2 .card-1:hover{
    margin-top: 10px;
}
/* cards-1 in list-menu */
/* dropdown-menu */
ul li:nth-of-type(2){
    display: flex;

}
.Browse-Topics{
    position: relative;
}
.dropdown-menu{
    background-color:#fff;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    gap: 30px;
    padding: 50px 100px;
    box-sizing: border-box;
    top: 110%;
    left: 0;
    z-index: 2;
display: none;
transition: 0.5s;

}


.dropdown-menu .cards-2 .card-1 {
margin-top: -20px;
}
.dropdown-menu .cards-2 .card-1:hover{
    margin-top: -45px;
}
.dropdown-menu .cards-2 .card-1 .text-card-1{
    display: flex;
    justify-content: space-between;
}
.dropdown-menu .cards-2 .card-1 .text-card-1 span{
background-color: #F50057;
padding: 5px;
color: #fff;
font-size: 15px;
}
ul li:nth-of-type(2):hover .dropdown-menu{
    display: flex;
}

/* dropdown-menu */
/* 2 dropdoen-manu */
li:nth-of-type(3){
    display: flex;
}
li:nth-of-type(3) .dropdown-menu-2{
background-color: #fff;
    position: absolute;
    left: 0;
    top: 160px;
    width: 100%;
    height:500px;
gap: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
display: none;
}
.card-3{
    width: 500px;
    height: 400px;
    /* margin-top:-70px; */
    margin-top: 40px;
border-radius: 20px 20px;
padding: 20px ;
background: linear-gradient(to bottom , rgba(0, 0, 255, 0.808) , rgba(173, 216, 230, 0.801));
flex-direction: column;
display: flex;
height: 400px;
gap: 120px;
transition: 0.5s;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-3:hover{
margin-bottom: 20px;
}
 .card-3 .text-part1{
    display: flex;
flex-direction: column;
gap: 20px;
}
 .card-3 .text-card-3{
    /* margin-left: 20px; */
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

}
 .card-3 .text-card-3 h5{
    font-size: 30px;
    color: #fff;

}
 .card-3 .text-card-3 span{
    background-color: blue;
    padding: 5px 7px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
 .card-3 .text-part1 .pragraph-3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:400px;
    line-height: 25px;
    color: #ffffffb7;
    font-size:22px;
} 
 .card-3 .text-part1 .pragraph-3 button{
    width: max-content;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    color: #fff;
    background-color: lightblue;
    font-weight: 200;
    transition: 0.5s;
}
 .card-3 .text-part1 .pragraph-3 button:hover{
background-color: blue;
}
.bottom-card-3{
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    top: 350px; */
}
.bottom-card-3 .icon-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bottom-card-3 .icon-left .icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.bottom-card-3 .icon-left .icon i{
    background-color: lightblue;
    border-radius: 50%;
    height: 35px;
    width:35px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.5s;
    /* margin-bottom: 100px; */
}
.bottom-card-3 .icon-left .icon i:hover{
    background-color: blue;
}
.card-4{
    width: 300px;
    /* height:max-content; */
    background-color:#fff ;
    width: 500px;
    height: 400px;
    /* margin-top:-70px; */
    margin-top: 40px;
border-radius: 20px 20px;
padding: 20px ;
flex-direction: column;
display: flex;
height: 400px;
gap:150px;
transition: 0.5s;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
/* padding: 30px; */
}


.card-4 .bottom-card img{
    width: 100%;
height: auto;
margin-top: -120px;
}
.card-4 .text-card-4{
    display: flex;
    justify-content: space-between;
}
.card-4 .text-card-4 h5{
    font-size: 30px;
}
.card-4 .text-card-4 span{
padding: 5px;
background-color: #00B0FF;
color: #fff;
border-radius: 5px;
}
.card-4 .text-part1{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.card-4:hover{
    margin-top: 20px;
}
ul li:nth-last-of-type(3):hover .dropdown-menu-2{
display: flex;
color: #000;
}
/* 2 dropdown-menu */
/* dropdown-menu-3 */
li:nth-of-type(4){
    display: flex;
}
li:nth-of-type(4) .dropdown-menu-3{
background-color: #fff;
    position: absolute;
    left: 0;
    top: 170px;
    width: 100%;
    height:500px;
gap: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
display: none;
}

.dropdown-menu-3 .cards-2 .card-1 {
    margin-top: -20px;
    }
    .dropdown-menu-3 .cards-2 .card-1:hover{
        margin-top: -45px;
    }
    .dropdown-menu-3 .cards-2 .card-1 .text-card-1{
        display: flex;
        justify-content: space-between;
    }
    .dropdown-menu-3 .cards-2 .card-1 .text-card-1 span{
    background-color: #F9A826;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    }
    ul li:nth-of-type(4):hover .dropdown-menu-3{
        display: flex;
    }
    .pragraph{
        color: #000000af;
    }

/* dropdown-menu-3 */

/* dropdown-menu-4 */
li:nth-of-type(5){
    display: flex;
}
li:nth-of-type(5) .dropdown-menu-4{
background-color: #fff;
    position: absolute;
    left: 0;
    top: 160px;
    width: 100%;
    height:500px;
gap: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
display: none;
}
.card-10{
    width: 300px;
    /* height:max-content; */
    background-color:#fff ;
    width: 500px;
    height: 400px;
    /* margin-top:-70px; */
    margin-top: 40px;
border-radius: 20px 20px;
padding: 20px ;
flex-direction: column;
display: flex;
height: 400px;
gap:150px;
transition: 0.5s;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
/* padding: 30px; */
overflow: hidden;

}
.card-10 .bottom-card img{
    width: 100%;
height: auto;
margin-top: -120px;
}
.card-10 .text-card-4{
    display: flex;
    justify-content: space-between;
}
.card-10 .text-card-4 h5{
    font-size: 30px;
}
.card-10 .text-card-4 span{
padding: 5px;
background-color:#00BFA6;
color: #fff;
border-radius: 5px;
}
.card-10 .text-part1{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.card-10:hover{
    margin-top: 20px;
    color: #000;
}
ul li:nth-of-type(5):hover .dropdown-menu-4{
    display: flex;
    color: #000;
}
/* dropdown-menu-4 */
/* end Browse Topics */
.work{
    background: linear-gradient(to top , rgba(0, 0, 255, 0.658) ,rgba(173, 216, 230, 0.651)) , url(raghad.css/colleagues-working-cozy-office-medium-shot.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 1100px;
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;
    justify-content: center;
align-items: center;
    gap:5px;
    flex-direction: column;
}
.part-1-in-work{
    display: flex;
    gap: 20px;
}
.work .part-1-in-work .part-1{
padding: 190px 20px;
display: flex;
flex-direction: column;
position: relative;
gap: 240px;
}
.work .part-1-in-work .part-1::after{
    content: '';
    position: absolute;
    left: 60px;
    width: 10px;
    height: 500px;
    background-color: lightblue;
}

.work .part-1-in-work .part-1 i{
    background-color: lightblue;
    padding: 30px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: 20px;
    outline: 10px solid lightblue;
    font-size: 20px;
    position: relative;
    z-index: 1;
    color: #fff;
}
.work .part-1-in-work .part-2{
    width: 700px;
    height: auto;
    padding: 50px;
}
.how{
    display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 30px;
margin-top: 20px;
}
.how-pragraph{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.gap p:nth-of-type(1){
    font-size: 30px;
    color: #fff;
}
.gap p:nth-of-type(2){
    font-size: 20px;
    font-weight: 30;
    color: #fff;
    line-height: 40px;
}
.part-2-in-work{
    display: flex;
    gap: 20px;
}
.part-2-in-work p{
    color: #fff;
    font-size: 20px;
}
.part-2-in-work button{
    background-color:rgba(173, 216, 230, 0);
    color:lightblue;
    border: 2px solid lightblue;
    padding: 10px;
    display: flex;
    margin-top: -5px;
    border-radius: 50px;
transition: 0.5s;
}
.part-2-in-work button:hover{
    background-color: lightblue;
    border: none;
color: #fff;
margin-top: -5px;
}
/*how does it work  */
/* start asked */
.asked{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 40px;
    margin-left: 100px;
}
.asked .part-1{
    font-size: 30px;
    width:400px;
    line-height: 40px;
}
.asked .part-2{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.asked .part-2 .photo img{
    width: 500px;
    height: auto;
}
.lists{
    width: 500px;
    margin-left: 50px;
    text-align: left;
    scroll-behavior: smooth;
}

.lists details {
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lists summary{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid lightblue;
    padding: 20px;
    border-radius:50px ;
    scroll-behavior: smooth;
}

.content{
    padding:20px;
    /* scroll-behavior: smooth; */

}
.lists details .content p{
    /* opacity: 0; */
    line-height: 30px;
    transition: 0.5s;
}
.lists summary i{
    transition:0.5s;
}
.lists summary i:hover{
transform: rotate(180deg);
}
.lists summary:hover{
    background-color: lightblue;
}
.get{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f0f8ff;
    padding: 90px;
    margin-top: 80px;
}
.get .location iframe{
width: 400px;
height:250px;
border: none;
border-radius: 30px;
}
fieldset{
    text-align: center;
    font-size: 30px;
    border: none;
    padding: 30px;
    display: flex;
    gap: 50px;

}
.head-office{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.head-office .part-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.head-office .part-1 p{
    font-weight: 100;
    width: 200px;
    opacity: 0.5;
    font-size: 18px;
    line-height:30px;
}
.head-office .part-2{
    font-size: 18px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
hr{
opacity: 0.7;
}
.head-office .part-2 b{
    font-size: 15px;
    font-weight: 50;
    margin-left: 10px;
    color: rgb(145, 188, 202);
    transition: 0.5s;
}
.head-office .part-2 b:hover{
    color: rgb(16, 16, 255);
}
.foot-office{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.foot-office .part-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.foot-office .part-1 p{
    font-weight: 100;
    width: 200px;
    font-size: 18px;
    line-height:30px;
    opacity: 0.5;
}
.foot-office .part-2{
    font-size: 18px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
hr{
opacity: 0.7;
}
.foot-office .part-2 b{
    font-size: 15px;
    font-weight: 50;
    margin-left: 10px;
    color: rgb(145, 188, 202);
    transition: 0.5s;
}
.foot-office .part-2 b:hover{
    color: rgb(16, 16, 255);
}
.foot-topic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* margin-top: 80px; */
    padding:40px;
    background-color: #fff;

}
.foot-topic .topic{
    font-size: 40px;
margin-bottom: 60px;
height: 100px;
}
.foot-topic .part-1 ul , 
.foot-topic .part-2 ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
} 
.foot-topic .part-1 ul li  , 
.foot-topic .part-2 ul li{
list-style: none;
}
.foot-topic .part-1 ,
.foot-topic .part-2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: blue;
}
.foot-topic .part-1 ul li , 
.foot-topic .part-2 ul li{
    color: lightblue;
    transition: 0.5s;
}
.foot-topic .part-2{
    background-color: #fff;
    height: 130px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foot-topic .part-1 ul li:hover  , 
.foot-topic .part-2 ul li:hover{
color: blue;
}
.part-3{

    width: 190px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 10px;
}
.part-3 .click-1 button{
  background-color: lightblue;
  color: #fff;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}
.part-3 .click-1 button:hover{
    background-color: blue;
}
.part-3 .click-1 button:hover .contaner {
opacity: 1;
position: absolute;
top: 80%;
overflow: visible;
color: #000;
z-index: 1;

}
.part-3 .click-1 button .contaner  {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    line-height: 20px;
    position: absolute;
transition: 0.5s;
opacity: 0;
top: 100%;
overflow: hidden;
}

.part-3 .contaner ul li{
list-style: none;
}
.part-3 .contaner ul li:hover{
    color: blue;
}
.part-3 .finish{
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.7;
}
.part-3 .finish p b{
    font-weight: 100;
    color: blue;
    opacity: 3;
}
.foot{
    width: 100%;
    height: 10px;
    background-color: blue;
    margin-top: -10px;
    position: relative;
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
}
.foot::after{
    content: '';
    /* background-color: #00BFA6; */
    position: absolute;
    /* width: 40px; 
    height: 40px;  */

    border: 200px solid blue;
    border-bottom:0px solid transparent;
    border-top: 200px solid  transparent;
    border-left: 200px solid transparent;
    /* border-right: 20px solid transparent; */

}


/* end asked */

/* media screen */
@media (max-width:1067px){
    nav{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:190px;
    background: linear-gradient( 300deg , blue , lightblue ) ;
    padding: 10px 15px;
    border-bottom: 2px solid #ffffffa4;
    }
    
    
    nav .frist-part-nav{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 10px 15px;
    /* margin-right: 100px; */
    }
    
    
    
    
    nav .left-nav {
        display: flex;
        font-size: 35px;
        font-weight: 400;
    }
    nav .left-nav span{
        font-size: 35px;
        font-weight: 400;
    }
    
    nav .right-nav{
        display: flex;
        gap: 20px;
    }
    nav .right-nav li{
        list-style: none;
        display: flex;
        width: max-content;
        color: lightblue;
        font-size: 15px;
        padding:10px;
        transition: 0.5s;
    }
    
    nav .right-nav li:nth-last-of-type(4) span{
        position: relative;
    }
    
    nav .right-nav li span .down-page{
        background-color:rgb(135, 215, 240);
        padding: 20px;
        line-height: 25px;
        position: absolute;
        top: 20%;
        opacity: 0;
        overflow: hidden;
        color: blue;    
     transition:0.5s;   
    }
    
    nav .right-nav li span:hover .down-page{
        position: absolute;
        top: 10%;
        opacity: 1;
        overflow: visible;
        border-radius: 10px;
        padding: 20px;
    }
    
    nav .right-nav li span:hover .down-page::after{
        content:'';
        background-color:rgb(135, 215, 240);
        width: 20px;
        height: 20px;
        position: absolute;
        top: -8px;
        transform: rotate(45deg);
    }
    
    
    nav .right-nav li:hover{
    color: blue;
    }
    
     .secound-part-nav i{
        display: block;
    width: 40px;
    height: 40px;
    color:blue;
    font-size: 25px;
    /* cursor: pointer; */
    background-color:#fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-left: -100px;
    }
    .secound-part-nav i:hover{
    background-color: rgb(1, 1, 160);
    color: lightblue;
    }
    /* end nav */

    .Browse-Topics{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        gap: 30px;
    }
    .Browse-Topics h2{
        font-size: 55px;
    }
    .list-menu{
        display: flex;
    }
    .list-menu ul{
        display: flex;
        gap: 50px;
        font-size: 20px;
    }
    .list-menu ul li{
    list-style: none;
    display: flex;
    padding: 20px;
    border:none ;
    border-bottom: 1px  solid rgba(0, 0, 0, 0);
    transition: 0.5s;
    }
    .list-menu ul li:hover{
    border-bottom: 1px solid blue;
    color: lightblue;
    }
    .list-menu ul li:nth-of-type(1){
        border-bottom: 1px solid blue;
        color: lightblue;
    }
    /* cards-1 in list-menu */
    .cards-2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .cards-2 .card-1{
        height: 400px;
        margin-top: 50px;
        width: 260px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .cards-2 .text-card-1{
        display: flex;
        justify-content: space-between;
    }
    .cards-2 .text-part1{
        display: flex;
        flex-direction: column;
    gap: 10px;
    }
    .cards-2 .text-card-1 h5{
    color: black;
    font-size: 30px;
    }
    
    .cards-2 .text-card-1 span{
        background-color: #00B0FF;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    }
    .cards-2 .pragraph p{
        color: rgba(0, 0, 0, 0.815);
    }
    .cards-2 .bottom-card{
        margin-top:30px;
    }
    .cards-2 .bottom-card img{
    width: 100%;
    height: auto;
    }
    .cards-2 .card-1:hover{
        margin-top: 10px;
    }
    /* cards-1 in list-menu */
    /* dropdown-menu */
    ul li:nth-of-type(2){
        display: flex;
    
    }
    .Browse-Topics{
        position: relative;
    }
    .dropdown-menu{
        background-color:#fff;
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center ;
        justify-content: center;
        gap: 30px;
        padding: 50px 100px;
        box-sizing: border-box;
        top: 110%;
        left: 0;
        z-index: 2;
    display: none;
    transition: 0.5s;
    
    }
    
    
    .dropdown-menu .cards-2 .card-1 {
    margin-top: -20px;
    }
    .dropdown-menu .cards-2 .card-1:hover{
        margin-top: -45px;
    }
    .dropdown-menu .cards-2 .card-1 .text-card-1{
        display: flex;
        justify-content: space-between;
    }
    .dropdown-menu .cards-2 .card-1 .text-card-1 span{
    background-color: #F50057;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    }
    ul li:nth-of-type(2):hover .dropdown-menu{
        display: flex;
    }
    
    /* dropdown-menu */
    /* 2 dropdoen-manu */
    li:nth-of-type(3){
        display: flex;
    }
    li:nth-of-type(3) .dropdown-menu-2{
    background-color: #fff;
        position: absolute;
        left: 0;
        top: 160px;
        width: 100%;
        height:500px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: none;
    }
    .card-3{
        width: 450px;
        height: 400px;
        /* margin-top:-70px; */
        margin-top: 40px;
    border-radius: 20px 20px;
    padding: 20px ;
    background: linear-gradient(to bottom , rgba(0, 0, 255, 0.808) , rgba(173, 216, 230, 0.801));
    flex-direction: column;
    display: flex;
    height: 400px;
    gap: 120px;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .card-3:hover{
    margin-bottom: 20px;
    }
     .card-3 .text-part1{
        display: flex;
    flex-direction: column;
    gap: 20px;
    }
     .card-3 .text-card-3{
        /* margin-left: 20px; */
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    
    }
     .card-3 .text-card-3 h5{
        font-size: 30px;
        color: #fff;
    
    }
     .card-3 .text-card-3 span{
        background-color: blue;
        padding: 5px 7px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
     .card-3 .text-part1 .pragraph-3{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width:400px;
        line-height: 25px;
        color: #ffffffb7;
        font-size:22px;
    } 
     .card-3 .text-part1 .pragraph-3 button{
        width: max-content;
        padding: 15px 20px;
        border: none;
        border-radius: 50px;
        font-size: 17px;
        color: #fff;
        background-color: lightblue;
        font-weight: 200;
        transition: 0.5s;
    }
     .card-3 .text-part1 .pragraph-3 button:hover{
    background-color: blue;
    }
    .bottom-card-3{
        display: flex;
        justify-content: space-between;
        /* position: absolute;
        top: 350px; */
    }
    .bottom-card-3 .icon-left{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .bottom-card-3 .icon-left .icon {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .bottom-card-3 .icon-left .icon i{
        background-color: lightblue;
        border-radius: 50%;
        height: 35px;
        width:35px ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        transition: 0.5s;
        /* margin-bottom: 100px; */
    }
    .bottom-card-3 .icon-left .icon i:hover{
        background-color: blue;
    }
    .card-4{
        width: 300px;
        /* height:max-content; */
        background-color:#fff ;
        width: 400px;
        height: 400px;
        /* margin-top:-70px; */
        margin-top: 40px;
    border-radius: 20px 20px;
    padding: 20px ;
    flex-direction: column;
    display: flex;
    height: 400px;
    gap:150px;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* padding: 30px; */
    }
    
    
    .card-4 .bottom-card img{
        width: 100%;
    height: auto;
    margin-top: -120px;
    }
    .card-4 .text-card-4{
        display: flex;
        justify-content: space-between;
    }
    .card-4 .text-card-4 h5{
        font-size: 30px;
    }
    .card-4 .text-card-4 span{
    padding: 5px;
    background-color: #00B0FF;
    color: #fff;
    border-radius: 5px;
    }
    .card-4 .text-part1{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .card-4:hover{
        margin-top: 20px;
    }
    ul li:nth-last-of-type(3):hover .dropdown-menu-2{
    display: flex;
    color: #000;
    }
    /* 2 dropdown-menu */
    /* dropdown-menu-3 */
    li:nth-of-type(4){
        display: flex;
    }
    li:nth-of-type(4) .dropdown-menu-3{
    background-color: #fff;
        position: absolute;
        left: 0;
        top: 170px;
        width: 100%;
        height:500px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: none;
    }
    
    .dropdown-menu-3 .cards-2 .card-1 {
        margin-top: -20px;
        }
        .dropdown-menu-3 .cards-2 .card-1:hover{
            margin-top: -45px;
        }
        .dropdown-menu-3 .cards-2 .card-1 .text-card-1{
            display: flex;
            justify-content: space-between;
        }
        .dropdown-menu-3 .cards-2 .card-1 .text-card-1 span{
        background-color: #F9A826;
        padding: 2px 1px;
        color: #fff;
        font-size: 15px;
        }
        .dropdown-menu-3 .cards-2 .card-1 .text-card-1 .span{
            background-color: #F9A826;
            padding:0px 2px;
            color: #fff;
            font-size: 15px;
            height: auto;
        }
        ul li:nth-of-type(4):hover .dropdown-menu-3{
            display: flex;
        }
        .pragraph{
            color: #000000af;
        }
    
    /* dropdown-menu-3 */
    
    /* dropdown-menu-4 */
    li:nth-of-type(5){
        display: flex;
    }
    li:nth-of-type(5) .dropdown-menu-4{
    background-color: #fff;
        position: absolute;
        left: 0;
        top: 160px;
        width: 100%;
        height:500px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: none;
    }
    .card-10{
        background-color:#fff ;
        width: 400px;
        height: 400px;
        /* margin-top:-70px; */
        margin-top: 40px;
    border-radius: 20px 20px;
    padding: 20px ;
    flex-direction: column;
    display: flex;
    height: 400px;
    gap:150px;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* padding: 30px; */
    overflow: hidden;
    
    }
    .card-10 .bottom-card img{
        width: 100%;
    height: auto;
    margin-top: -120px;
    }
    .card-10 .text-card-4{
        display: flex;
        justify-content: space-between;
    }
    .card-10 .text-card-4 h5{
        font-size: 30px;
    }
    .card-10 .text-card-4 span{
    padding: 5px;
    background-color:#00BFA6;
    color: #fff;
    border-radius: 5px;
    }
    .card-10 .text-part1{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .card-10:hover{
        margin-top: 20px;
        color: #000;
    }
    ul li:nth-of-type(5):hover .dropdown-menu-4{
        display: flex;
        color: #000;
    }
    /* dropdown-menu-4 */
    /* end Browse Topics */
    .foot-topic{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        /* margin-top: 80px; */
        padding:40px;
        background-color: #fff;
    
    } 

}
@media(max-width:1009px){
    nav{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:130px;
    background: linear-gradient( 300deg , blue , lightblue ) ;
    padding: 10px 15px;
    border-bottom: 2px solid #ffffffa4;
    }
    .foot-topic{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        /* margin-top: 80px; */
        padding:40px;
        background-color: #fff;
    
    } 

}
@media(max-width:995px){
    nav{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:100px;
    background: linear-gradient( 300deg , blue , lightblue ) ;
    padding: 10px 15px;
    border-bottom: 2px solid #ffffffa4;
    }
   
    nav .right-nav{
        /* display: flex;
        gap: 20px; */
        opacity: 0;
    }
    .secound-part-nav{
        display: flex;
    }
    .secound-part-nav i:nth-of-type(1){
        display: flex;
        }
        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 100px;
        }
            .home-page{
                /* margin-bottom: 40px; */
                width: 100%;
                height:auto;
            background-color:rgb(118, 118, 235);
            border-radius: 0 0 100px 100px;
            overflow: hidden;
            
            }
            .card-1{
                width: 500px;
                height: 400px;
                margin-top:-70px;
            border-radius: 20px 20px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                transition: 0.5;
                background-color: #fff;
                padding: 20px;
                transition: 0.5s;
            }
           i .right-nav-2 ul{
                background: linear-gradient( 290deg , blue ,lightblue);
            width: 950px;
            padding: 7px 8px;
            display:flex ;
            flex-direction: column;
            gap: 40px;
            font-size: 16px;
            }
            i .right-nav-2 ul li{
                margin-left: 20px;
            }
            i .right-nav-2{
                /* display: none; */
                height: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                opacity: 0;
                gap: 20px;
                background-color:blue;
                transition: 0.5s;
                gap: 20px;
color: rgb(115, 146, 156);
top: 130%;
left: -830px;
            } 
            i .right-nav-2 li:nth-of-type(6){
                display: none;
            }

            i .right-nav-2  ul{
                background:linear-gradient(to right , lightblue ,blue ) l;
                position: absolute;
                list-style: none;
color: rgb(121, 151, 161);
margin-left: 30px;
            }
            i .right-nav-2  ul li{
                transition: 0.5s;
            } 
            i .right-nav-2  ul li:hover{
                color: blue;
            }

            .secound-part-nav i{
                position: relative;
                display: flex;
                list-style: none;
            }
            .secound-part-nav i:hover .right-nav-2{
                display: flex;
                position: absolute;
                top: 130%;
                opacity: 1;
                z-index: 1;
                color: blue;
                      
            }
            .foot-topic{
                display: grid;
                grid-template-columns: repeat(3 , 200px );
                row-gap: 20px;
            }  
            .cards-2{
                display: grid;
                grid-template-columns: repeat(2 , auto);
                grid-template-rows: repeat(2 , auto);
            }
            .asked .part-2{
                width: 100%;
                display: flex;
                justify-content: center;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
            }
            /* .work{
                background: linear-gradient(to top , rgba(0, 0, 255, 0.658) ,rgba(173, 216, 230, 0.651)) , url(raghad.css/colleagues-working-cozy-office-medium-shot.jpg);
                background-size: 100% 100%;
                width: 100%;
                height: 1100px;
                background-repeat: no-repeat;
                margin-top: 100px;
                display: flex;
                justify-content: center;
            align-items: center;
                gap:100px;
                flex-direction: column;
            } */
            .work .part-1-in-work .part-1{
                padding: 190px 20px;
                display: flex;
                flex-direction: column;
                position: relative;
                gap: 240px;
                margin-left: 30px;
                }

                .part-1-in-work{
                    display: flex;
                    gap: 0px;
                }
                .how{
                    display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 30px;
                margin-top: 20px;
                }
                .how-pragraph{
                    display: flex;
                    flex-direction: column;
                    gap: 80px;
                }
                .get .location iframe{
                    width: 300px;
                    height:250px;
                    border: none;
                    border-radius: 30px;
                    }
                    fieldset{
                        text-align: center;
                        font-size: 30px;
                        border: none;
                        padding: 30px;
                        display: flex;
                        gap: 50px;
                    margin-left:50px;
                    }
    }
    /* madia screen */